pipeline/ALL_PO_DISTRIBUTIONS_PIPELINE.json
{
	"name": "ALL_PO_DISTRIBUTIONS_PIPELINE",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "select  OWNER,VIEW_NAME from sys.all_views where view_name in ('POG0_PO_ACCEPTANCES','INVG0_ITEMS_VSAT','POG0_ALL_LINES_VSAT')",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ALL_PO_DISTRIBUTIONS_VIEWS",
						"type": "DatasetReference",
						"parameters": {
							"VIEW_NAME": "na",
							"OWNER": "na"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ALL_PO_DISTRIBUTIONS_VIEWS",
									"type": "DatasetReference",
									"parameters": {
										"VIEW_NAME": {
											"value": "@item().VIEW_NAME",
											"type": "Expression"
										},
										"OWNER": {
											"value": "@item().OWNER",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ALL_PO_DISTRIBUTIONS_ORACLE",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "RAJSASHEKAR_PIPELINES/ALL_PO_DISTRIBUTIONS"
		},
		"annotations": []
	}
}